.polaroid-maxi{
  height: calc(40vw + 2 * 0.75rem + 4rem);
  font-size:1.25rem;
  text-align:center;
  display:inline-block;
  list-style:none;
  border:solid 0.75rem #fff;
  background:#fff;
  box-shadow:0 0 0.9rem 0 #555;
  transition:all 1s ease;
  -o-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -webkit-transition:all 1s ease;
  margin-bottom: 2rem;
}

.polaroid-maxi img{
  width: 40vw;
}


.polaroid-mini p{
  margin:0;
}

.red-circle-01{
  position: relative;
  top: calc(16% - 40vw - 0.75rem - 4rem);
  left: calc(35%);
  z-index: 1;
  display: block;
  max-width: 2rem;
  max-height: 2rem;
  height: auto;
  width: auto;

}


@media screen and (max-width: 540px) {
  .polaroid-maxi{
    height: calc(80vw + 2 * 0.75rem + 4rem);
  }
    
  .polaroid-maxi img{
    width: 80vw;
  }
  
  .red-circle-01{
    position: relative;
    top: calc(16% - 80vw - 0.75rem - 4rem);
    left: calc(35%);
  }
  }